{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="description" content="Raamatu otsingumootori Bookworm info leht"> 
	<meta name="keywords" content="bookworm,about,info,raamatu otsingumootor,raamat,otsing,otsi raamatuid">
    <title>About</title>
    <link rel="stylesheet" type="text/css" href="{% static 'booksearch/About.css' %}">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="{% static 'booksearch/scripts.js' %}"></script>
    <script>
        function yHandler() {
            var wrap = document.getElementById('wrap');
            var contentHeight = wrap.offsetHeight; // Gets page content height
            var yOffset = window.pageYOffset; // Gets the vertical scroll position
            var y = yOffset + window.innerHeight;
            if (y >= contentHeight) {
                wrap.innerHTML = '<img src="https://www.incimages.com/uploaded_files/image/970x450/getty_598063032_349381.jpg" alt="Raamatud1">' +'<br>'
                    + '<img src="https://cdn-images-1.medium.com/max/1024/1*YLlZ96J3p8GFkIh1USVMzg.jpeg" alt="Raamatud2">';
                // Ajax call to get more dynamic data
            }
        };
        window.onscroll = yHandler;
    </script>
</head>
<body>
<!--Navigation bar-->
<ul>
    <li style="float:left"><a href="https://vl2018-ryhm15.herokuapp.com/">BOOKWORM</a></li>
    <li><a href="https://vl2018-ryhm15.herokuapp.com/about">About</a></li>
    <li onclick="document.getElementById('login').style.display='none'; document.getElementById('signup').style.display='block'">Sign up</li>
    <li onclick="document.getElementById('signup').style.display='none'; document.getElementById('login').style.display='block'">Log in</li>
</ul>
<p>Mingi tekst Bookwormi kohta...
</p>

<h3>Google Map</h3>
<div id="map">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDjW6r72Usb-ahHQt1hqqUIL-gIPHa5VLI&callback=initMap" async defer></script>
    <script>initMap()</script>
</div>

<p>Bookworm on väga lahe,<br>
    väga lahe,<br>
    vääge lahe...<br>
    väga väga laaaahee....
</p>
<div id="wrap">
    <img src="https://www.incimages.com/uploaded_files/image/970x450/getty_598063032_349381.jpg" alt="Raamatud1">
</div>
</body>
</html>
