{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="description" content="Raamatu otsingumootori Bookworm info leht"> 
	<meta name="keywords" content="bookworm,about,info,raamatu otsingumootor,raamat,otsing,otsi raamatuid">
    <title>About</title>
    <link rel="stylesheet" type="text/css" href="{% static 'booksearch/About.css' %}">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <!-- jQuery fallback -->
    <script>window.jQuery || document.write("<script src=\"{% static 'jquery-3.3.1.js' %}\"><\/script>")</script>
    <script src="{% static 'booksearch/scripts.js' %}"></script>
    <script src="{% static 'booksearch/About.js' %}"></script>
</head>
<body>

<!--Navigation bars-->
<!-- Teine navbar, mis kuvatakse sisselogitud kasutajale -->
{% if user.is_authenticated %}
<ul id="loggedInNavbar">
    <li style="float:left"><a href="https://vl2018-ryhm15.herokuapp.com/">BOOKWORM</a></li>
    <li><a href="https://vl2018-ryhm15.herokuapp.com/about">Meist</a></li>
    <li>
        <form action="{% url 'mylists' %}" method="post"> {% csrf_token %}
            <a href="javascript:;" onclick="parentNode.submit();">Minu nimekirjad</a>
        </form>
    </li>
    <li><a href="{% url 'signout' %}">Logi välja</a></li>
    <li>Seaded</li>
</ul>
{% else %}
<ul id="loggedOutNavbar">
    <li style="float:left"><a href="https://vl2018-ryhm15.herokuapp.com/">BOOKWORM</a></li>
    <li><a href="https://vl2018-ryhm15.herokuapp.com/about">Meist</a></li>
    <li onclick="document.getElementById('login').style.display='none'; document.getElementById('signup').style.display='block'">Loo kasutaja</li>
    <li onclick="document.getElementById('signup').style.display='none'; document.getElementById('login').style.display='block'">Logi sisse</li>
</ul>
{% endif %}

<!-- Login modal -->
<div id="login" class="popup">

    <form class="popup-content animate" method="post">{% csrf_token %}
        <div class="imgcontainer">
        <span onclick="document.getElementById('login').style.display='none'"
    class="sulge" title="Sulge">&times;</span>
        </div>

        <div class="container">
            {{ loginform.as_p }}
            <button type="submit" id="loginButton">Logi sisse</button>
            <label for="kast1">
                <input id="kast1" type="checkbox" checked="checked" name="mäleta">Mäleta mind
            </label>
        </div>

        <div class="center">
            <a href="{% url 'social:begin' 'google-oauth2' %}"><img class= "center" src="{% static 'booksearch/btn_google_signin_light_normal_web.png' %}" alt="Sign in with Google"></a>
        </div>
        <div class="container">
            <button type="button" onclick="document.getElementById('login').style.display='none'"
                    class="tuhista">Tühista</button>
            <span class="parool"><a href="#">Unustasid parooli?</a> </span>
        </div>
        <br>
    </form>
</div>


<!-- Signup modal -->
<div id="signup" class="popup">

    <form class="popup-content animate" method="post">{% csrf_token %}
        <div class="imgcontainer">
        <span onclick="document.getElementById('signup').style.display='none'"
    class="sulge" title="Sulge">&times;</span>
        </div>

        <div class="container">
            {{ signupform.as_p }}
            <button type="submit" id="signupButton">Loo kasutaja</button>
        </div>

        <div class="container">
            <button type="button" onclick="document.getElementById('signup').style.display='none'"
                    class="tuhista">Tühista</button>
        </div>
    </form>
</div>


<p>Mingi tekst Bookwormi kohta...
</p>

<h3>Google Map</h3>
<div id="map">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDjW6r72Usb-ahHQt1hqqUIL-gIPHa5VLI&callback=initMap" async defer></script>
    <script>initMap()</script>
</div>

<div id="kasutajainfo">
    <h3>Statistika külastajate kohta</h3>
    <h4>Selle sessiooni andmed</h4>
    <div id="uus"></div>
    <!-- // IP ja riik Ajaxi abil -->
    <script src="{% static 'booksearch/ipinfo.js' %}"></script>
    <p>Brauser: {{ browser }}, os: {{ os }}</p>
    <p>Lehe avamise kellaaeg: {{ time }} (UTC)</p>
    <h4>Kasutatud brauserid</h4>
    <table id="browsertable">
        {% for browser in browserdata %}
            <tr>
                {% for value in browser %}
                    <td>{{ value }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    <h4>Kasutatud operatsioonisüsteemid</h4>
    <table id="ostable">
        {% for os in osdata %}
            <tr>
                {% for value in os %}
                    <td>{{ value }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    <br>
    <h4>Lehtede külastamise kellaajad (UTC)</h4>
    <img src="{% static 'booksearch/hittimes.png' %}" alt="Külastamiste kellajad">
</div>

<div id="wrap">
    <img src="https://www.incimages.com/uploaded_files/image/970x450/getty_598063032_349381.jpg" alt="Raamatud1">
</div>
	
</body>
</html>
