{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" type="text/css" href="{% static 'booksearch/About.css' %}">
    <script src="{% static 'booksearch/scripts.js' %}"></script>
</head>
<body>
<!--!--Navigation bar-->
<ul>
    <li style="float:left"><a href="https://vl2018-ryhm15.herokuapp.com/">BOOKWORM</a></li>
    <li><a href="https://vl2018-ryhm15.herokuapp.com/about">About</a></li>
    <li onclick="document.getElementById('login').style.display='none'; document.getElementById('signup').style.display='block'">Sign up</li>
    <li onclick="document.getElementById('signup').style.display='none'; document.getElementById('login').style.display='block'">Log in</li>
</ul>
<p>Mingi tekst Bookwormi kohta...
</p>

<h3>Google Map</h3>
<div id="map"></div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDjW6r72Usb-ahHQt1hqqUIL-gIPHa5VLI&callback=initMap" async defer>initMap()</script>

</body>
</html>
