{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="description" content="Raamatu otsingumootor Bookworm, arendatud Tartu Ülikooli aine Veebirakenduste loomise raames Rühm15 poolt">
	<meta name="keyowrds" content="raamatu otsing,otsi raamatuid,raamat,otsi,bookworm,raamatu otsingumootor">
    <title>Bookworm</title>
    <link rel="stylesheet" type="text/css" href="{% static 'booksearch/Frontpage.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	<script src="{% static 'booksearch/scripts.js' %}"></script>
</head>
<body>

<!--Navigation bars-->
<!-- Teine navbar, mis kuvatakse sisselogitud kasutajale -->
{% if user.is_authenticated %}
<ul id="loggedInNavbar">
    <li style="float:left"><a href="https://vl2018-ryhm15.herokuapp.com/">BOOKWORM</a></li>
    <li><a href="https://vl2018-ryhm15.herokuapp.com/about">About</a></li>
    <li>User: {{ user.get_username }}</li>
    <li><a href="{% url 'signout' %}">Log out</a></li>
    <li>Settings</li>
</ul>
{% else %}
<ul id="loggedOutNavbar">
    <li style="float:left"><a href="https://vl2018-ryhm15.herokuapp.com/">BOOKWORM</a></li>
    <li><a href="https://vl2018-ryhm15.herokuapp.com/about">About</a></li>
    <li onclick="document.getElementById('login').style.display='none'; document.getElementById('signup').style.display='block'">Sign up</li>
    <li onclick="document.getElementById('signup').style.display='none'; document.getElementById('login').style.display='block'">Log in</li>
</ul>
{% endif %}

<!--Search box-->
<div class="wrap">
    <form method="post">{% csrf_token %}
        <div class="search">
            <table id="otsinguvorm">
                {{ search }}
            </table>
            <button type="submit" id="searchButton"><em class="fa fa-search"></em>
            </button>
        </div>
    </form>

</div>

<!-- Login modal -->
<div id="login" class="popup">

    <form class="popup-content animate" method="post">{% csrf_token %}
        <div class="imgcontainer">
        <span onclick="document.getElementById('login').style.display='none'"
    class="sulge" title="Sulge">&times;</span>
        </div>

        <div class="container">
            <table>{{ loginform }}</table>
            <button type="submit" id="loginButton">Logi sisse</button>
            <label for="kast1">
                <input id="kast1" type="checkbox" checked="checked" name="mäleta">Mäleta mind
            </label>
        </div>

        <div>
            <a href="{% url 'social:begin' 'google-oauth2' %}"><img src="{% static 'booksearch/btn_google_signin_light_normal_web.png' %}" alt="Sign in with Google" class="center"></a>
        </div>
        <div class="container">
            <button type="button" onclick="document.getElementById('login').style.display='none'"
                    class="tühista">Tühista</button>
            <span class="parool"><a href="#">Unustasid parooli?</a> </span>
        </div>
        <br>
    </form>
</div>


<!-- Signup modal -->
<div id="signup" class="popup">

    <form class="popup-content animate" method="post">{% csrf_token %}
        <div class="imgcontainer">
        <span onclick="document.getElementById('signup').style.display='none'"
    class="sulge" title="Sulge">&times;</span>
        </div>

        <div class="container">
            <table>{{ signupform }}</table>
            <button type="submit" id="signupButton">Loo kasutaja</button>
        </div>

        <div class="container">
            <button type="button" onclick="document.getElementById('signup').style.display='none'"
                    class="tühista">Tühista</button>
        </div>
    </form>
</div>

<script src="{% static 'booksearch/scripts.js' %}"></script>
</body>
</html>
