{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="description" content="Raamatu otsingumootori Bookworm otsingu tulemuste leht">
	<meta name="keywords" content="bookworm,search,otsi,raamat,raamatud,otsi raamatuid,raamatu otsingumootor">
    <title>MyLists</title>
    <link rel="stylesheet" type="text/css" href="{% static 'booksearch/MyLists.css' %}">
    <script src="{% static 'booksearch/scripts.js' %}"></script>
</head>
<body>

<!--Navigation bars-->
<ul id="loggedInNavbar">
    <li style="float:left"><a href="https://vl2018-ryhm15.herokuapp.com/">BOOKWORM</a></li>
    <li><a href="https://vl2018-ryhm15.herokuapp.com/about">Meist</a></li>
    <li>
        <form action="{% url 'mylists' %}" method="post"> {% csrf_token %}
            <a href="javascript:;" onclick="parentNode.submit();">Minu nimekirjad</a>
        </form>
    </li>
    <li><a href="{% url 'signout' %}">Logi välja</a></li>
    <li>Seaded</li>
</ul>

<!--Own/Want bar-->
<div class="upper">
    <ul>
        <li class="active" id="ownbutton" onclick="document.getElementById('ownbutton').classList.add('active');
        document.getElementById('wantbutton').classList.remove('active');
        document.getElementById('wanttable').style.display='none';
        document.getElementById('owntable').style.display='block'">OWN</li>
        <li id="wantbutton" onclick="document.getElementById('wantbutton').classList.add('active');
        document.getElementById('ownbutton').classList.remove('active');
        document.getElementById('owntable').style.display='none';
        document.getElementById('wanttable').style.display='block'">WANT</li>
    </ul>
</div>

<div class="split left">
    <div class="centered">
        <table id="owntable">
            {% for item in olemas %}
            <tr>
                <td>{{ item.pealkiri }}</td>
            </tr>
            {% endfor %}
        </table>
        <table id="wanttable">
            {% for item in soovid %}
            <tr>
                <td>{{ item.pealkiri }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

<div class="split right">
    <div class="centered" id="parem">
        <h2>Javascriptiga (või Djangoga?) rohkem infot raamatu kohta...</h2>
        <p>Või äkki jätame selle osa üldse ära? Ehk lihtsalt üks leht (mitte kaheks jagatud)?</p>
    </div>
    <form class="invisForm" id="rmWantedForm" method="post"> {% csrf_token %}
        {{ rmwantedform.as_p }}
        <button type="submit" id="rmWantedButton" onclick="fillWanted();
        document.getElementById('rmWantedForm').style.display='none';">Ma ei taha seda raamatut!</button>
    </form>
</div>

<div class="footer">
    <span id="footerspan">Siia tuleb Advanced Search...</span>
</div>

<script src="{% static 'booksearch/MyLists.js' %}"></script>

</body>
</html>