{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="description" content="Raamatu otsingumootori Bookworm otsingu tulemuste leht">
	<meta name="keywords" content="bookworm,search,otsi,raamat,raamatud,otsi raamatuid,raamatu otsingumootor">
    <title>MyLists</title>
    <link rel="stylesheet" type="text/css" href="{% static 'booksearch/MyLists.css' %}">
    <script src="{% static 'booksearch/scripts.js' %}"></script>
</head>
<body>

<!--Navigation bars-->
<!-- Teine navbar, mis kuvatakse sisselogitud kasutajale -->
{% if user.is_authenticated %}
<ul id="loggedInNavbar">
    <li style="float:left"><a href="https://vl2018-ryhm15.herokuapp.com/">BOOKWORM</a></li>
    <li><a href="https://vl2018-ryhm15.herokuapp.com/about">Meist</a></li>
    <li>
        <form action="{% url 'mylists' %}" method="post"> {% csrf_token %}
            <a href="javascript:;" onclick="parentNode.submit();">Minu nimekirjad</a>
        </form>
    </li>
    <li><a href="{% url 'signout' %}">Logi välja</a></li>
    <li>Seaded</li>
</ul>
{% else %}
<ul id="loggedOutNavbar">
    <li style="float:left"><a href="https://vl2018-ryhm15.herokuapp.com/">BOOKWORM</a></li>
    <li><a href="https://vl2018-ryhm15.herokuapp.com/about">Meist</a></li>
    <li onclick="document.getElementById('login').style.display='none'; document.getElementById('signup').style.display='block'">Loo kasutaja</li>
    <li onclick="document.getElementById('signup').style.display='none'; document.getElementById('login').style.display='block'">Logi sisse</li>
</ul>
{% endif %}

<!--Own/Want bar-->
<div class="upper">
    <ul>
        <li class="active">OWN</li>
        <li>WANT</li>
    </ul>
</div>

<div class="split left">
    <div class="centered">
        <table>
            {% for item in olemas %}
            <tr>
                <td>{{ item.pealkiri }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

<div class="split right">
    <div class="centered">
        <h2>Javascriptiga (või Djangoga?) rohkem infot raamatu kohta...</h2>
        <p>Või äkki jätame selle osa üldse ära? Ehk lihtsalt üks leht (mitte kaheks jagatud)?</p>
    </div>
</div>

<div class="footer">
    <span id="footerspan">Siia tuleb Advanced Search...</span>
</div>

</body>
</html>