{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="description" content = "Raamatu otsingumootori Bookwormi otsinguleht">
	<meta name="keywords" content="raamat,otsing,bookworm,otsi raamatuid">
    <title>Search</title>
    <link rel="stylesheet" type="text/css" href="{% static 'booksearch/Search.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'booksearch/Frontpage.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <script src="{% static 'booksearch/scripts.js' %}"></script>
</head>
<body>

<!--Navigation bars-->
<!-- Teine navbar, mis kuvatakse sisselogitud kasutajale -->
{% if user.is_authenticated %}
<ul id="loggedInNavbar">
    <li style="float:left"><a href="https://vl2018-ryhm15.herokuapp.com/">BOOKWORM</a></li>
    <li><a href="https://vl2018-ryhm15.herokuapp.com/about">Meist</a></li>
    <li>Kasutaja: {{ user.get_username }}</li>
    <li><a href="{% url 'signout' %}">Logi välja</a></li>
    <li>Seaded</li>
</ul>
{% else %}
<ul id="loggedOutNavbar">
    <li style="float:left"><a href="https://vl2018-ryhm15.herokuapp.com/">BOOKWORM</a></li>
    <li><a href="https://vl2018-ryhm15.herokuapp.com/about">Meist</a></li>
    <li onclick="document.getElementById('login').style.display='none'; document.getElementById('signup').style.display='block'">Loo kasutaja</li>
    <li onclick="document.getElementById('signup').style.display='none'; document.getElementById('login').style.display='block'">Logi sisse</li>
</ul>
{% endif %}

<div class="split left">
    <div class="centered">
        <h2>{{ tulemuste_sone }}</h2>
        <table id="table" class="tulemused">
            {% for item in nimistik %}
            <tr class="tulemus_r">
                <td class="tulemus_d">{{ item.pealkiri }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

<div class="footer">
    Siia tuleb Advanced Search...
</div>

<div class="split right">
    <div id="parem" class="centered">
        <h2>Javascriptiga (või Djangoga?) rohkem infot raamatu kohta...</h2>
        <p>Või äkki jätame selle osa üldse ära? Ehk lihtsalt üks leht (mitte kaheks jagatud)?</p>
    </div>
</div>
	
<script type="text/javascript">
    var table = document.getElementById('table');
    var parem = document.getElementById('parem');

    for (var i = 0; i < table.rows.length; i++) {
        table.rows[i].onclick = function() {
            parem.innerHTML = "Selle raamatu pealkiri on \"" + this.cells[0].innerHTML + "\".";
        }
    }
</script>	

<!-- Login modal -->
<div id="login" class="popup">

    <form class="popup-content animate" method="post">{% csrf_token %}
        <div class="imgcontainer">
        <span onclick="document.getElementById('login').style.display='none'"
    class="sulge" title="Sulge">&times;</span>
        </div>

        <div class="container">
            <table>{{ loginform }}</table>
            <button type="submit" id="loginButton">Logi sisse</button>
            <label for="kast1">
                <input id="kast1" type="checkbox" checked="checked" name="mäleta">Mäleta mind
            </label>
        </div>

        <div class="center">
            <a href="{% url 'social:begin' 'google-oauth2' %}"><img class= "center" src="{% static 'booksearch/btn_google_signin_light_normal_web.png' %}" alt="Sign in with Google"></a>

        </div>
        <div class="container">
            <button type="button" onclick="document.getElementById('login').style.display='none'"
                    class="tühista">Tühista</button>
            <span class="parool"><a href="#">Unustasid parooli?</a> </span>
        </div>
        <br>
    </form>
</div>


<!-- Signup modal -->
<div id="signup" class="popup">

    <form class="popup-content animate" method="post">{% csrf_token %}
        <div class="imgcontainer">
        <span onclick="document.getElementById('signup').style.display='none'"
    class="sulge" title="Sulge">&times;</span>
        </div>

        <div class="container">
            <table>{{ signupform }}</table>
            <button type="submit" id="signupButton">Loo kasutaja</button>
        </div>

        <div class="container">
            <button type="button" onclick="document.getElementById('signup').style.display='none'"
                    class="tühista">Tühista</button>
        </div>
    </form>
</div>

<script src="{% static 'booksearch/scripts.js' %}"></script>
</body>
</html>
