{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="description" content = "Raamatu otsingumootori Bookwormi otsinguleht">
	<meta name="keywords" content="raamat,otsing,bookworm,otsi raamatuid">
    <title>Search</title>
    <link rel="stylesheet" type="text/css" href="{% static 'booksearch/Search.css' %}">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <!-- jQuery fallback -->
    <script>window.jQuery || document.write("<script src=\"{% static 'jquery-3.3.1.js' %}\"><\/script>")</script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <!-- fontaweomse fallback -->
    <script>
        (function($){
            var $span = $('<span class="fa" style="display:none"></span>').appendTo('body');
            if ($span.css('fontFamily') !== 'FontAwesome' ) {
                // Fallback Link
                $('head').append("<link href=\"{% static 'fontawesome-free-5.5.0-web/css/all.css' %}\" rel=\"stylesheet\">");
            }
            $span.remove();
        })(jQuery);
    </script>
    <script src="{% static 'booksearch/scripts.js' %}"></script>
</head>
<body>

<!--Navigation bars-->
<!-- Teine navbar, mis kuvatakse sisselogitud kasutajale -->
{% if user.is_authenticated %}
<ul id="loggedInNavbar">
    <li style="float:left"><a href="https://vl2018-ryhm15.herokuapp.com/">BOOKWORM</a></li>
    <li><a href="https://vl2018-ryhm15.herokuapp.com/about">Meist</a></li>
    <li>
        <form action="{% url 'mylists' %}" method="post"> {% csrf_token %}
            <a href="javascript:;" onclick="parentNode.submit();">Minu nimekirjad</a>
        </form>
    </li>
    <li><a href="{% url 'signout' %}">Logi välja</a></li>
    <li>Seaded</li>
</ul>
{% else %}
<ul id="loggedOutNavbar">
    <li style="float:left"><a href="https://vl2018-ryhm15.herokuapp.com/">BOOKWORM</a></li>
    <li><a href="https://vl2018-ryhm15.herokuapp.com/about">Meist</a></li>
    <li onclick="document.getElementById('login').style.display='none'; document.getElementById('signup').style.display='block'">Loo kasutaja</li>
    <li onclick="document.getElementById('signup').style.display='none'; document.getElementById('login').style.display='block'">Logi sisse</li>
</ul>
{% endif %}

<div class="split left">
    <div class="centered">
        <h2>{{ tulemuste_sone }}</h2>
        <table id="table" class="tulemused">
            {% for item in nimistik %}
            <tr class="tulemus_r">
                <td class="tulemus_d">{{ item.pealkiri }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

<div class="footer">
    Siia tuleb Advanced Search...
</div>

<div class="split right">
    <div id="parem" class="centered">
        <h2>Javascriptiga (või Djangoga?) rohkem infot raamatu kohta...</h2>
        <p>Või äkki jätame selle osa üldse ära? Ehk lihtsalt üks leht (mitte kaheks jagatud)?</p>
    </div>
    {% if user.is_authenticated %}
    <form class="invisForm" id="ownedForm" method="post"> {% csrf_token %}
        {{ ownedform.as_p }}
        <button type="submit" id="ownedButton" onclick="fillOwned()">Mul on see raamat!</button>
    </form>
    <form class="invisForm" id="wantedForm" method="post">{% csrf_token %}
        {{ wantedform.as_p }}
        <button type="submit" id="wantedButton" onclick="fillWanted()">Ma tahan seda raamatut!</button>
    </form>
    {% endif %}
</div>

<!-- Login modal -->
<div id="login" class="popup">

    <form class="popup-content animate" method="post">{% csrf_token %}
        <div class="imgcontainer">
        <span onclick="document.getElementById('login').style.display='none'"
    class="sulge" title="Sulge">&times;</span>
        </div>

        <div class="container">
            {{ loginform.as_p }}
            <button type="submit" id="loginButton">Logi sisse</button>
            <label for="kast1">
                <input id="kast1" type="checkbox" checked="checked" name="mäleta">Mäleta mind
            </label>
        </div>

        <div class="center">
            <a href="{% url 'social:begin' 'google-oauth2' %}"><img class= "center" src="{% static 'booksearch/btn_google_signin_light_normal_web.png' %}" alt="Sign in with Google"></a>

        </div>
        <div class="container">
            <button type="button" onclick="document.getElementById('login').style.display='none'"
                    class="tuhista">Tühista</button>
            <span class="parool"><a href="#">Unustasid parooli?</a> </span>
        </div>
        <br>
    </form>
</div>


<!-- Signup modal -->
<div id="signup" class="popup">

    <form class="popup-content animate" method="post">{% csrf_token %}
        <div class="imgcontainer">
        <span onclick="document.getElementById('signup').style.display='none'"
    class="sulge" title="Sulge">&times;</span>
        </div>

        <div class="container">
            {{ signupform.as_p }}
            <button type="submit" id="signupButton">Loo kasutaja</button>
        </div>

        <div class="container">
            <button type="button" onclick="document.getElementById('signup').style.display='none'"
                    class="tuhista">Tühista</button>
        </div>
    </form>
</div>

<script src="{% static 'booksearch/scripts.js' %}"></script>
<script src="{% static 'booksearch/Search.js' %}"></script>
</body>
</html>
