body{
    background: #f2f2f2;
    font-family: sans-serif;
}

/*Navigation bar*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    border-radius: 5px;
}

ul.errorlist {
    display: none;
}

li {
    float: right;
    border-right:1px solid #bbb;
}

li:last-child {
    border-right: none;
}

li a {
    text-decoration: none;
    color: white;
}

li {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li:hover:not(.active) {
    background-color: #00B4CC;
}

.active {
    background-color: #4CAF50;
}


/* Split the screen in half */
.split {
    width: 48%;
    position: fixed;
    z-index: 1;
    top: 60px;
    overflow-x: hidden;
    padding-top: 0;
}

/* Control the left side */
.left {
    height: 84%;
    left: 1%;
}

/* Control the right side */
.right {
    height: 90%;
    right: 1%;
}

.tulemused {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

.tulemus_d {
    text-align: left;
    padding: 16px;
}

.tulemus_r:nth-child(even) {
    background-color: #e5e5e5;
}

.footer {
    width: 48%;
    position: fixed;
    z-index: 1;
    left: 1%;
    bottom: 0.5%;
    height: 5%;
    text-align: center;
}

input[type=text], input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#otsinguvorm {
    columns: 2;
}

#loginButton {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

#signupButton {
    background-color: #00B4CC;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.tühista {
    width: auto;
    padding: 10px 18px;
    background-color: #00B4CC;
}

.container {
    padding: 16px;
}

span.parool {
    float: right;
    padding-top: 16px;
}

.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

.popup-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 80%;
}

.sulge {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.sulge:hover,
.sulge:focus {
    color: red;
    cursor: pointer;
}

#googleauth {
    margin-left: auto;
    margin-right: auto;
}